<!-- oulu.html -->

<div id="center-left" class="container-box">
    <img src="./assets/img/pipopää.png">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tincidunt interdum.</p>
    <a href="#">Lue lisää &#9658;</a>
</div> <!-- /center-left -->

<div id="center-right" class="container-box">
    <img src="./assets/img/suihkut.png">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tincidunt interdum.</p>
    <a href="#">Lue lisää &#9658;</a>
</div> <!-- /center-right  -->

<div id="center-middle" class="container-box">
    <img src="./assets/img/kortit.png">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tincidunt interdum.</p>
    <a href="#">Lue lisää &#9658;</a>
</div> <!-- /center-middle -->

<br style="clear: both;" />

<!-- Bottom row -->
<div id="bottom-left" class="container-box">
    <p>BOTTOM LEFT</p>
</div> <!-- /bottom-left -->

<div id="bottom-right" class="container-box">
    <p>BOTTOM RIGHT</p>
</div> <!-- /bottom-right -->

<div id="bottom-middle" class="container-box">
    <p>BOTTOM MIDDLE</p>
</div> <!-- /bottom-middle -->

<br style="clear: both;" />