/* ==========================================================================

  Name: style.css
  Author: Juuso Karlström
  Author-URI: http://iuuso.github.io/
  Date: August 2015

==========================================================================*/

html
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;

    background: none;
    /* Temporary text settings to make everything bold and big
        for testing of the layout*/
}

body
{
    font: 10pt/1.5em 'Roboto', Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.75;

    width: 100%;

    text-align: center;

    background: #f1f1ec;
}

#wrapper
{
    width: 80%;
    margin: auto;
    max-width: 1200px;
    min-width: 800px;
}



/* Make the images scalable */

img
{
    max-width: 100%;
    margin: 0;
} 

header
{
    position: fixed;
    z-index: 90;
    top: 0;
    left: 0;

    width: 100%;
    height: 3em;
    margin: 0;
    padding: 0;

    border-bottom: 4px solid #dbdbd5;
    background: white;
}
header ul
{
    display: inline;

    list-style-type: none;
}
header li
{
    float: right;

    padding: .5em 1em;
}

.city-selector a:link,
.city-selector a:visited
{
    color: #45a8cd;
    text-decoration: none;
}
.login-registration a:link,
.login-registration a:visited
{
    color: #bf243f;
    text-decoration: none;
}

.separator { color: #dbdbd5; }

/* Dropdown menu for city selection*/
header ul ul
{
    position: absolute;
    top: 0;

    background: black;
}
header ul li:hover > ul
{
    display: block;

    background: black;
}

footer
{
    position: relative;
    bottom: 0;
    left: 0;
    margin-top: ;

    width: 100%;
    height: 15em;

    border: 1px solid red;
}


/* The badge on header displaying the current city */
#badge
{
    position: fixed;
    z-index: 100;
    top: -3em;
    left: 10em;

    width: 12em;
    height: 10em;

    background: #66b7d6;
}

/* Banner image */
#banner { margin-top: 5em; }

/* ==========================================================================

    Container that holds the grid elements.

========================================================================== */

#container
{
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 100%;
    max-width: 900px;
}


/* Class for the content "boxes" */
.container-box
{
    width: 100%;
    max-width: 286px;
    max-height: 245px;
    margin: 15px auto 0 auto;
    padding-bottom: 2px;

    border: 2px solid #dbdbd5;
    border-radius: 0;
    background: white;

    font-weight: 200;
    text-align: left;
}

.container-box a:link, a:visited { text-decoration: none; padding-left: 1em;}
.container-box p { padding-left: .5em; }

/* Top picture on the Grid */
#grid-top
{
    width: 100%;
    max-width: 900px;
    height: 300px;
    margin: 0 auto;

    border: 2px solid #dbdbd5;
    border-radius: 5px;
    background: url('../img/header-bg.png'); /* The "curtain" image */
    background-position: center;
}

    #center-left { float: left; }
    #center-middle { float: center;}
    #center-right { float: right;}

    #bottom-left { float: left; height: 600px; }
    #bottom-middle { float: center; height: 600px; }
    #bottom-right { float: right; height: 600px; }

/* ==========================================================================

    Making the layout more responsive to different screen sizes

========================================================================== */


/* Settings for a slightly smaller screen */
@media screen and (min-width: 901px) and (max-width: 1100px) {
    .container-box { max-width: 30%; font-size: 90%; }
}

/* Settings for the width of values between 601px and 900px */
@media screen and (min-width: 601px) and (max-width: 900px) {
    #container { width: auto; min-width: 0; margin-left: 0; font-size: .8em;}
    #badge { display: none; }
    .separator { display: none; }
    header ul { position: relative; display: block; height: 500px;}
    .container-box { margin: 1em auto; max-width: 30%;}
}

/* Settings for width of 600px */
@media screen and (max-width: 600px) {
    #container { width: 100%; }
    .container-box { max-width: 90%; margin: 10px auto; max-height: 1000px;}
    .container-box p { font-size: 1.2em;}
    #container img { width: 100%; }

    #grid-top { width: 100%; }

    #center-left { float: none;  width: 100%; height: 400px;}
    #center-middle { float: none; margin: 0 auto; height: 400px; width: 100%;}
    #center-right { float: none; width: 100%; height: 400px;}
    #bottom-left { float: none; width: 100%; height: 400px;}
    #bottom-middle { float: none; width: 100%; height: 400px;}
    #bottom-right { float: none; width: 100%; height: 400px;}
    #badge { display: none; }

    header { height: 10em; position: static; top: 0px;}
    header ul li { display: block; float: left; width: 100%;}
    .separator {display: none; }
}